/* #M2  aula #5 #6: Manipulando Class do elemento

    ClassList               - retorna uma lista de classes  - 3 principais funções:
        contains            - retorna um boolean informando se ClassList contém tal classe
        add                 - permite adicionar uma classe à ClassList
        remove              - permite remover uma classe da ClassList
*/
#exemplo{
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    margin: 20px;
}

.verde{
    background-color: #0f0;
    color: #fff;
}
.vermelho{
    background-color: #f00;
    color: #fff;
}
.azul{
    background-color: #00f;
    color: #fff;
}
.rosa{
    background-color: rgb(224, 24, 84);
    color: #fff;
}
.roxo{
    background-color: rgb(64, 24, 138);
    color: #fff;
}